body {
    margin-top: 0;
    background-color: #F8F9FB;
    margin: 0;
}

.container {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1em;
}

.menu-hamburguer {
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #235EE6;
    padding: .5em;
    border-radius: 1em;
    color: white;
    text-align: center;
    margin-left: 1.5em;
    height: 90vh;

}

.nav .logo {
    margin: 1em 0 2.5em 0;
}

.nav .menu-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.header-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .icon-dash {
    color: #0D0742;
    font-weight: bold;
}


header #pesquisa {
    background-color: #EAECF0;
    padding: 10px;
    width: 400px;
    border-radius: 16px;
    border: none;
    outline: none;
}

.main-content select {
    width: 200px;
    padding: 10px;
    color: #0D0742;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.main-content {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
}

.main-content .opcoes {
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin: 4em 0 4em;
}

.main-content .grafico {
    width: 60%;
}

.tamanhoGraficos {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.main-content .grafico {
    height: 200px;
    background-color: #fafafa;
    box-shadow: 1px 3px 8px #ccc;
    padding: 2em;
    border-radius: 16px;
}

footer {
    display: flex;
    margin-left: 0 !important;
    margin-top: 8em;
    width: 100%;
    height: 120px;
    background-color: #235EE6;
    color: white;
    align-items: center;
    justify-content: center;
}

@media (max-width: 960px) {


    .menu-hamburguer {
        display: block;
    }

    .main-content .opcoes {
        width: 80%;
    }

    .container-graficos .g1 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    header #pesquisa {
        width: 200px;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 620px) {
    .main-content {
        flex-direction: column;
        gap: 2.5em;
        justify-content: center;
    }

    .main-content .opcoes {
        flex-direction: column;
        gap: 1em;
        margin: 1em 1em;
    }

    .main-content .grafico {
        width: 80%;
    }

    header {
        margin-top: 2em;
        flex-direction: column;
        gap: 1em;
    }

    header #pesquisa {
        width: 200px;
    }

}